body {
  background-color: lightblue;
  background-image: linear-gradient(lightblue, rgb(93, 93, 192));
  font-family: "Gill Sans Extrabold", sans-serif;
  color: #383838;
}

p {
  font-size: 20px;
  color: darkgray;
  font-family: Arial;
  font-style: bold;
  text-align: center;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.avatar {
  width: 200px;
  border-radius: 20%;
  float: left;
}

.bio {
 
  text-align: center;
  background: white;
  width: 50%;
  padding: 30px;
  border: 1px solid gray;
}

.center {
  display: block;
  margin: 0 auto;
}

.content {
  margin: 70px;
}

img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

ul {
	list-style: none;
}

/**
.icon { 
	font-size: 40px;
	color: blue;
}
**/

.fab fa-facebook-square
{ 
	color: blue;
}

.fab fa-instagram
{ 
	color: red;
}